{% extends "base.html" %}
{% load widget_tweaks %}
{% block body %}
    <div class="text-center"><h3>Articles Edited by USER: {{ request.user }}</h3></div>
    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
            <tr>
                <th>Title</th>
                <th>Written By</th>
                <th>created at</th>
            </tr>
            </thead>
            <tbody>
            {% if articles %}
                {% for article in articles %}
                    <tr>
                        <td scope="row"><a href="{% url "blog:article_detail" article.id %}">{{ article.title }}</a>
                        </td>
                        <td>{{ article.written_by.user.name }}</td>
                        <td>{{ article.created_at }}</td>
                    </tr>
                {% endfor %}
            {% else %}
                <tr>
                    <td colspan="3" class="text-center ">No Data</td>
                </tr>
            {% endif %}

            </tbody>
        </table>
    </div>
{% endblock %}
