{% extends "base.html" %}

{% block body %}
    <div class="text-center"><h3>Writers</h3></div>
    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
            <tr>
                <th>Writer</th>
                <th>Total Articles Written</th>
                <th>Articles Written Last 30 days</th>
            </tr>
            </thead>
            <tbody>
            {% if writers %}
                {% for writer in writers %}
                    <tr>
                        <td scope="row">{{ writer.user.name }}</td>
                        <td>{{ writer.articles_total }}</td>
                        <td>{{ writer.articles_thirty }}</td>
                    </tr>
                {% endfor %}
            {% else %}
                <tr>
                   <td colspan="3" class="text-center ">No Data</td>
                </tr>
            {% endif %}

            </tbody>
        </table>
    </div>
{% endblock %}
